.container {
  margin-bottom: 1rem;

  .titleContainer {
    display: flex;
    align-items: center;

    svg {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .stepsContainer {
    display: none;

    &.visible {
      display: block;
      animation: fadeIn 500ms ease-in;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
